/* VARIABLES */
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

/*GRID */
.grid-container {
  min-width: 320px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "nav" "main";
  justify-content: center;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  width: 99%;
  margin: 0 auto;
  grid-area: main;
}

button, a {
  cursor: pointer;
}

.widget-container-full, .widget-container-half {
  width: 95vw;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #b79960;
}
header h1 {
  padding: 9px 10px;
  font-weight: 400;
  font-size: 20px;
  color: white;
}
header .bell {
  width: 20px;
  padding-top: 10px;
  position: absolute;
  right: 150px;
  fill: white;
  cursor: pointer;
}
header .bell #notif {
  animation: notif 1s ease-in-out infinite;
}
@keyframes notif {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
header .bell > .icon:hover {
  animation: bell 0.5s ease infinite;
}
@keyframes bell {
  0% {
    transform: rotateZ(0deg);
  }
  10% {
    transform: rotateZ(25deg);
  }
  25% {
    transform: rotateZ(45deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  60% {
    transform: rotateZ(-25deg);
  }
  75% {
    transform: rotateZ(-45deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
header hr {
  height: 70%;
  margin: auto 0;
}
header .login {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
header .login img {
  width: 25px;
  border-radius: 50%;
  padding: 5px;
}
header .login h3 {
  color: white;
  font-size: 13px;
  padding-top: 15px;
  padding-right: 15px;
  font-weight: lighter;
}

nav {
  background-color: #b79960;
  padding: 0;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 4px;
}
nav ul li .icon {
  width: 20px;
  fill: white;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-header h2 {
  font-weight: 300;
  margin-top: 5px;
}
.main-header .main-header-search {
  padding: 5px;
  display: none;
}

.alert {
  padding-top: 10px;
  width: 100%;
  margin: 0 auto;
}
.alert p {
  font-weight: lighter;
  font-size: 12px;
  position: relative;
  top: 8px;
  left: 20px;
  white-space: nowrap;
  float: left;
  color: white;
}

.alert-banner {
  height: 35px;
  border-radius: 10px;
  display: inline-block;
  background-color: #b79960;
  width: 100%;
  white-space: nowrap;
}
.alert-banner .alert-banner-close {
  position: relative;
  top: 10px;
  left: -13px;
  float: right;
}
.alert-banner .breaks {
  width: 40%;
}

.traffic {
  padding-top: 10px;
  border-bottom: solid 1px grey;
}
.traffic .traffic-button {
  text-decoration: none;
  color: white;
}
.traffic .traffic-header h3 {
  font-size: 16px;
  font-weight: lighter;
  padding-bottom: 10px;
}
.traffic .traffic-header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
}
.traffic .traffic-header ul li {
  width: 14%;
  height: 15px;
  text-align: center;
  color: white;
  margin: auto 0;
  border: 10px solid transparent;
  background-color: #6081b7;
  border-radius: 11px;
}

.daily {
  padding: 10px;
  border-bottom: solid 1px grey;
}

.social {
  padding: 10px;
  border-bottom: 1px grey solid;
  border-top: 1px grey solid;
}
.social .social-container {
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #f2f2f2;
  width: 90%;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.social .social-container .social-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #b79960;
}
.social .social-container .social-image svg {
  display: block;
  margin: auto;
  width: 40px;
  fill: white;
  padding-top: 20px;
}
.social .social-container .social-text {
  padding-top: 10px;
  padding-left: 20px;
}
.social .social-container p:nth-child(1) {
  padding-bottom: 5px;
  font-size: 18px;
  color: #b79960;
}
.social .social-container p:nth-child(2) {
  font-weight: lighter;
  font-size: 34px;
}

.mobile {
  padding: 10px;
}

.members {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.members .members-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}
.members .members-container img {
  margin: auto;
  width: 80px;
  border-radius: 50%;
}
.members .members-container .members-text {
  text-align: center;
}
.members .members-container .members-text a {
  text-decoration: none;
  color: #b79960;
}

.activity {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.activity .activity-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
  padding: 10px 0;
}
.activity .activity-container img {
  margin: auto;
  width: 80px;
  border-radius: 50%;
}
.activity .activity-container .activity-text {
  text-align: center;
}
.activity .activity-container .activity-text .arrow {
  display: block;
}
@media (max-width: 767px) {
  .activity .activity-container .activity-text .arrow {
    display: none;
  }
}

.messaging {
  padding-top: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid grey;
}
.messaging .search-user {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.messaging .search-user #userField {
  border: 1px solid lightgray;
  background-color: #f2f2f2;
  height: 50px;
}
.messaging .search-user #messageField {
  height: 150px;
  border: 1px solid lightgray;
  background-color: #f2f2f2;
}
.messaging .search-user button {
  height: 50px;
  padding: 14px 0;
  font-weight: lighter;
  color: white;
  background-color: #b79960;
}

.settings {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid grey;
}
.settings h3 {
  padding-bottom: 10px;
}
.settings .switch-light span {
  position: relative;
  left: 210px;
  bottom: 25px;
  width: 120px;
}

.form-field {
  background-color: #f2f2f2;
  height: 40px;
  border-color: lightgray;
  color: grey;
}

.settings-button {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.settings-button button {
  width: 47%;
  height: 50px;
  font-family: "Roboto", sans-serif;
}
.settings-button #save {
  background-color: #b79960;
  color: white;
}
.settings-button #cancel {
  border: lightgray 1px solid;
  background-color: gray;
  color: white;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 55px 1fr;
    grid-template-areas: "header header" "nav main";
  }

  main {
    grid-template-columns: 50%;
    display: grid;
  }

  .traffic, .social, hr, .members, .activity, .messaging, .settings {
    grid-column: 1/span 2;
  }

  .daily {
    grid-column: 1/span 1;
  }

  .mobile {
    grid-column: 2/span 1;
    border-bottom: solid 1px grey;
  }

  .widget-container-full {
    width: 90vw;
  }

  .widget-container-half {
    width: 45vw;
  }

  nav ul {
    flex-direction: column;
  }
  nav ul li {
    padding: 10px;
    margin: 0 auto;
  }

  .alert-banner {
    margin-top: 30px;
    margin-left: -46vw;
    width: 199%;
  }

  .traffic .traffic-header {
    width: 30%;
    display: inline;
  }
  .traffic .traffic-header h3 {
    top: 10px;
  }
  .traffic .traffic-header ul {
    position: relative;
    float: right;
    bottom: 30px;
  }
  .traffic .traffic-header ul li {
    width: 20%;
    margin: 0 5px;
  }

  .daily {
    border-right: solid 1px grey;
    border-bottom: solid 1px grey;
  }

  .social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .social .social-header {
    width: 100%;
  }
  .social .all-social-containers {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .social .all-social-containers .social-container {
    width: 30%;
  }

  .arrow {
    display: block;
    float: right;
    position: relative;
    bottom: 25px;
    font-size: 20px;
    color: #3c3a62;
  }

  .members, .activity {
    display: flex;
  }
  .members .members-container, .members .activity-container, .activity .members-container, .activity .activity-container {
    padding: 20px 0;
  }
  .members .members-container img, .members .activity-container img, .activity .members-container img, .activity .activity-container img {
    margin: 0;
  }
  .members .members-container .members-text, .members .members-container .activity-text, .members .activity-container .members-text, .members .activity-container .activity-text, .activity .members-container .members-text, .activity .members-container .activity-text, .activity .activity-container .members-text, .activity .activity-container .activity-text {
    margin-top: -70px;
    margin-left: 90px;
    padding: 10px;
    text-align: left;
  }
  .members .members-container .members-text .date, .members .members-container .activity-text .date, .members .activity-container .members-text .date, .members .activity-container .activity-text .date, .activity .members-container .members-text .date, .activity .members-container .activity-text .date, .activity .activity-container .members-text .date, .activity .activity-container .activity-text .date {
    float: right;
    margin-top: -10px;
  }
}
@media (min-width: 1024px) {
  .daily, .members, .messaging {
    grid-column: 1/span 1;
  }

  .mobile, .activity, .settings {
    grid-column: 2/span 1;
  }

  .mobile {
    border-bottom: solid 1px grey;
  }

  .members {
    justify-content: space-between;
  }

  .activity {
    border-left: solid 1px grey;
    padding-top: 10px;
  }
  .activity h3 {
    padding-left: 10px;
  }
  .activity .activity-container {
    padding-left: 10px;
  }

  .messaging {
    width: 98%;
    padding: 10px;
  }

  .settings {
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
    border-left: solid 1px grey;
  }
}

/*# sourceMappingURL=styles.css.map */
